.CountryCard{
    background-color: var(--backmenu);
    border-radius: 2%;
    max-width:30rem;
    min-width: 25rem;
}

.CountryCard img{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    height: 15rem;

}

.CountryCardDescr{
    padding: 2rem;
}
.CountryCardDescrTitle{
    font-weight: 900;
    font-size: 1.6rem;
}
.bold{
    font-weight: 700;
}
.CountryCardDescr p{
    font-size: 1.2rem;
}
.buttonboxcountry{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.buttonboxcountry span{
    padding: 0.5rem;
    font-size: 1.5rem;
}
.next{
    display: flex;
    flex-direction: row-reverse;
}


.regionContainer{
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 0rem;
}