.containerCountry{
    padding: 3rem 6rem;
}
.countryHead
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.countryList{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8rem;
}
