.title{
    font-size: 1.8rem;
}
.contMenu{
    background-color: var(--backmenu);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 4rem;
    box-shadow: var(--shadow)  0px 0.3rem 0.5rem;
}
.switchTheme{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    padding: 2rem;
}
.link{
    text-decoration: none;
}